:root {
    --primary-color: #194e7e;
    --secondary-color: #1977cc;
    --light-color: #eee5e9;
    --dark-color: #2b303a;
    --grey-color: #7c7c7c;
    --darker-color: #191b1f;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.site-name {
    font-size: 2rem;
    margin: 0.5rem;
    color: var(--secondary-color);
    font-weight: bolder;
}

.navbar-links ul {
    margin: 0 auto;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: rgb(21, 21, 129);
    padding: 1rem;
    display: block;
}

.navbar-links li a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid #1977cc;
}

.toggle-button {
    position: absolute;
    top: 2.2rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.toggle-button .bar:hover {
    background-color: var(--secondary-color);
}

.bottom-container {
    /* width: 100%;
    height: 15rem; */
    background-color: var(--secondary-color);
    margin-top: 4rem;
    color: white;
    /* display: grid;
    grid-template-columns: auto auto auto; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bottom-container .sections {
    text-align: center;
    margin: 2.5rem;

}

.bottom-container .sections a {
    text-decoration: none;
    color: white;
}

.bottom-container .sections a:hover {
    color: #ada9a9;
}

.bottom-container .sections span {
    font-weight: bold;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1rem;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

@media (max-width: 1000px) {
    .bottom-container {
        flex-direction: column;
    }

    .bottom-container .sections {
        text-align: center;
    }
}

.primary-text {
    margin-top: 6rem;
    margin-bottom: 4rem;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.primary-text h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: var(--primary-color);
    text-align: center;
}

.primary-text h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: rgb(180, 175, 175);
    bottom: 1px;
    left: calc(50% - 60px);
}

.primary-text h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--secondary-color);
    bottom: 0;
    left: calc(50% - 20px);
}

.primary-text p {
    text-align: center;
    font-size: 16px;
    padding-left: 10rem;
    padding-right: 10rem;
    color: #444444;
    line-height: 1.8rem;
}

.primary-text span {
    color: var(--primary-color);
    font-weight: bold;
}

.main-content {
    height: 100%;
}

.formular {
    display: flex;
    justify-content: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    width: 35rem;
    height: 3rem;
}

.input-group textarea {
    box-sizing: border-box;
    border-radius: 0.2em;
    border: 2px solid var(--primary-color);
    box-shadow: none;
    font-size: 1rem;
    font-weight: inherit;
    padding: 0.25em;
    padding-bottom: 5rem;
}

.input-group input {
    box-sizing: border-box;
    border-radius: 0.2em;
    border: 2px solid var(--secondary-color);
    box-shadow: none;
    font-size: 1rem;
    font-weight: inherit;
    padding: 0.25em;
}

.input-group label {
    color: var(--primary-color);
}

.button {
    text-align: center;
    margin-top: 5rem;
}

button {
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    width: 7rem;
    height: 3rem;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1rem;
    color: var(--light-color);
}

 button:hover {
    background-color: #1a62a0 ;
}
